@media only screen and (max-width: 770px) {
#guiding-you h2{
  width: 80%;
  font-size: 1em;
}
.home-page-text{
  bottom: 1em;
}
.home-page-text h1,p{
  font-size: 90%;
}
}

@media only screen and (max-width: 630px) {
.home-page-text{
  height: 10em;
}
}

@media only screen and (max-width: 430px) {
.home-page-text{
/*  height: 10em;*/
  bottom: .4em;
}
}

@media only screen and (max-width: 400px) {
#home-page-text-description{
  display: none;
}
.home-page-text{
  height: 8em;
}
}

@media only screen and (max-width: 390px) {
  .partner-images img{
  width: 100%;
}
.who-content h2{
  width: 100% !important;
}
}

@media only screen and (max-width: 350px) {
.banner{
  padding: 2.5em; 

}
.banner h1,h4{
  font-size: 90%;
}
}

@media only screen and (max-width: 330px) {
.home-page-text{
  bottom: 0;
}
}

@media only screen and (max-width: 310px) {
.home-page-text {
  height: 6em;
}
.home-page-text h1{
  font-size: 10px;
}
}

@media only screen and (max-width: 300px) {
#guiding-you h2{
  width: 100%;
}
.who-content h2{
  font-size: 1em;
}
}



