:root {
  --heading-text-color:#0d9775;
  --card-bg-color: #019d76;
  --darkblue-color: #285991;
  --text-white: #edf8f6;
  --rating: #fbb24b;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/*html,body{
  overflow-x: hidden;
}
*/
h2{
  font-weight: 500;
  font-size: 1.5em;
  color: var(--heading-text-color);
}

p{
  font-size: 20px;
}

ul{
  list-style: none;
}
ul li{
  color: var(--heading-text-color);
  margin-bottom: 7px;
}
ul li p{
  color: black; 
}
ul li span{
  color: black;
}

.dropdown-menu{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

#home-page{
  position: relative;
}

#home-page img{
  height: auto;
  width: 100%;
}
.home-page-text{
  position: absolute;
  left: 0;
/*  right: 0;*/
  bottom: 2em;
  height: 15em;
  width: 100%;
  background: var(--text-white);
  opacity: .6;
}
.home-page-text h1{
  font-size: 1.3750em;
}
#testimony-rating{
  background: linear-gradient(to right, var(--darkblue-color), var(--card-bg-color));
  color: var(--text-white);

}

.rating{
  margin-bottom: 0;
  padding-bottom: 0;
}

.rating i{
  padding-right: 1px;
  color: var(--rating);
}

.date-review{
  color: var(--rating);
}

#testimony-rating ul li{
  color: var(--card-bg-color);
}
#testimony-rating ul li span{
  color: var(--text-white);
}

#dedication {
  color: var(--text-white);
  background-color: var(--darkblue-color);
}

#dedication span{
  color: var(--text-white);
}

#care-services .card{
  background-color: var(--card-bg-color);
  color: var(--text-white);
  padding: 2em;
  height: 100%;
  width: auto;
  position: relative;
}

#care-services .card hr{
 width: 60px;
 border-top: 3px var(--text-white) solid;
 margin-bottom: 15px;
 margin-top: 2px;
 color: var(--text-white);
}

#care-services .card h6{
  font-size: 10px;
}

#care-services .card h3{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}


#care-services .card a{
  color: var(--text-white);
  border: 1.5px var(--text-white) solid;
  display: inline-block;
  position: absolute;
  bottom: 15px;
}



#guiding-you h2{
  background: var(--card-bg-color);
  color: var(--text-white);
  border-radius: 15px;
  width: 50%;
  opacity: 1;
  z-index: 300;
}

#partners div.container{
  border: 1.5px var(--card-bg-color) solid;
  border-left: none;
  border-right: none;
}

.partner-images img{
  width: 19%;
}

.conversation h2{
  color: var(--darkblue-color);
  font-weight: bold;
}

.img-container{
  position: relative;
}


.img-container .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--text-white);
  opacity: .8;
}

.conversation a{
  color: var(--darkblue-color);
  border: 1.3px var(--darkblue-color) solid;
  transition: opacity 1s;
}

.conversation a:hover{
  color: var(--darkblue-color);
  border: 1.3px var(--darkblue-color) solid;
  opacity: .8;
  
}

/*General On About Page*/
.about-banner{
  position: relative;
}

.about-banner img{
  height:30em
}

.about-overlay{
  position:absolute; 
  top: 0;
  left: 0; 
  width: 100%; 
  height: 100%; 
  background:linear-gradient(to right,var(--card-bg-color),var(--darkblue-color)); 
  opacity: .5;
}


/*====================== WHO WE ARE PAGE START ================*/
/*WHO WE ARE START*/
#who-are-we .card{
  background:linear-gradient(var(--card-bg-color),var(--darkblue-color)); 
  color: var(--text-white); 
  border-radius:20px;
}

.who-content h2{
  background:var(--darkblue-color); 
  color: var(--text-white); 
  position: relative; 
  top:-30px;
}

/*====================== WHO WE ARE PAGE END ================*/

/*====================== WHY CHOOSE US PAGE START ================*/
/*WHY CHOOSE US START*/

#why-choose-us h2{
  font-weight: bold;
}
.about-common ol{
  color: var(--darkblue-color);
}

.about-common ol li{
  padding: .8em;
}

.about-common ol li p{
  color: black;
}
/*====================== WHY CHOOSE US PAGE END ================*/

#corporate-responsibility ol{
  list-style: none;
}

#corporate-responsibility h6{
  font-weight: bold;
}

.contact-container h6{
  color: var(--rating);
}

.contact-container ul{
  color: var(--text-white) !important;
  list-style: none;
}

.contact-container ul li{
  color: var(--text-white);
}

#contactForm label{
  color:gray;
}
#contactForm input{
  border: none;
  border-bottom: 2px lightgray solid;
}

#contactForm textarea{
  border: none;
  border-bottom: 2px lightgray solid;
}

#contactForm .submit{
   border:2px var(--darkblue-color) solid; 
   color:var(--darkblue-color); 
   font-weight: bold;
}


.domiciliary-service1 h2{
  background: linear-gradient(to right,var(--card-bg-color),var(--darkblue-color));
  color: var(--text-white); 
  border-radius: 15px;
}
.domiciliary-service1 h6 i{
  color: var(--darkblue-color);
}
.domiciliary-service1 ul li{
  color: var(--darkblue-color);
}

.domiciliary-service1 ul li h6{
  color: var(--card-bg-color);
  opacity: .85;
  font-weight: bold;
}

.domiciliary-service1 ul li p{
  color: black;
  margin-left: 15px;
}

.domiciliary-service2 h2{
  color: var(--darkblue-color); 
}

.domiciliary-service3 h6{
  color: var(--darkblue-color); 
  font-weight: bold;
}

.p-fontWeight{
  font-weight: 500;
}

.domiciliary-service4 h2{
  color: var(--darkblue-color); 
/*  font-weight: bold;*/
}

.domiciliary-service5 h6{
  color: var(--darkblue-color); 
}

.banner{
  background:var(--darkblue-color); 
  padding: 3.5em; 
  color:var(--text-white);
}

.make-the-move h2{
  font-weight: bold;
}

.make-the-move img{
  border-radius:35px;
}

.make-the-move p{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  border-radius:20px;
  background: white;
  position:relative; 
  top:30%;
}
#make-the-move-text1{
  right:20%;
  top: 25%;
}

#make-the-move-text2{
  left:20%;
  top: 25%;
}

#make-the-move-text3{
  right:20%;
  top: 25%;
}

#make-the-move-text4{
  left:20%;
  top: 25%;
}

#supported{
  position: relative;
  text-align: center; 
  color: white;
}

#supported div{
  position: absolute;top: 50%;left: 50%; 
  transform:translate(-50%, -50%); 
  background:linear-gradient(to right,var(--darkblue-color),  black);
  opacity: .6;
  border-radius:20px;
}

#About{
  position: relative;
  text-align: center; 
/*  color: white;*/
}

#About div{
  position: absolute;top: 70%;left: 50%; 
  transform:translate(-50%, -50%); 
}

#About1-card{
  background:linear-gradient(var(--card-bg-color),var(--darkblue-color)); 
  border-radius: 20px;
  color: var(--text-white);
}

.our-team{
  color:var(--card-bg-color);
}

#supported-living{
  position: relative;
}
#supported-living h3{
  color: var(--darkblue-color);
}

#delivering-excellence h3{
  color:var(--darkblue-color);
}

.delivering-excellence{
  height: 12.5em; 
  position:relative;
}

.delivering-excellence-overlay{
  border-radius: 20px;
  background: blue;
  opacity: .122222;
}
.common-overlay{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: -1; 
}

#reason-support{
  position: relative;
}

.reason-support-overlay{
  border-radius: 20px;
  background: var(--darkblue-color);
}
.reason-support-color{
  color: var(--text-white);
}

#supported-approch h3{
  color: var(--darkblue-color);
}

#our-process h1{
  text-transform: capitalize;
}
#our-process h1,h3{
  color: var(--darkblue-color);
}

#our-process ol{
  list-style: none;
}

#our-approach .common-overlay{
  background: blue;
  opacity: .122222;
}
#empowering-individuals h3{
  text-transform: capitalize;
}
#empowering-individuals h3, h4{
  color: var(--darkblue-color);
}

.faq-overlay {
  background: yellow; 
  border-radius: 20px;
  opacity:.192;
}





/*FOOTER START*/

footer{
  background: linear-gradient(var(--card-bg-color),var(--darkblue-color));
  color: var(--text-white);
  border-radius: none;
}

footer h2{
  color: var(--text-white);
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

footer ul{
  list-style: none;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
footer ul li{
  color: var(--text-white);
}

footer ul li i{
  padding-right: 5px;
}

footer ul li a{
  text-align: left !important;
  color: var(--text-white) !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  opacity: 1;
  transition: opacity 3s ease-in;
}

footer ul li a:hover{
  opacity: .6;
}