{% extends 'main/base-template.html' %}
{% load static %}

{% block content %}
<section class="mb-4" id="About">
	<img class="w-100" src="{% static 'main/images/Image 26.png' %}" style="height: 30em;">

	<div class="p-3">
		<h1 class="mb-3 mb-sm-0 p-2" style="opacity: 1; color: var(--darkblue-color);">
			ABOUT US
		</h1>
		<p class="pb-3 " style="color: black;">
			Your Comfort, Our Commitment, Right at Home
		</p>
	</div>
</section>

<section class="" style="background:linear-gradient(to right, var(--card-bg-color),var(--darkblue-color));">
	<div class="container">
		<p class="p-5 text-white" style="font-size:16px;">
			At Living Plus Care Services, we believe in providing not just a service, but a sense of comport belonging. Our dedication to your well-being is reflected in the personalise care we offer to make your home a sanctuary of health and happiness. With a team of highly trained professionals, we deliver bespoke care plans designed around your unique needs. Your comfort is our commitment, and we bring this promise to life, right in your own home.   
		</p>
	</div>	
</section>

<section class="container py-4">
	<div class="row" id="our-mission">
		<div class="col-md-4">
			<img class="w-100" src="{% static 'main/images/about1.png' %}">
		</div>
		<div class="col-md-8">
			<h2 class="mt-5 pt-4">
				Our Mission Statement
			</h2>
			<p>
				At Living Plus Care Services, our mission is to empower individuals and their families to lead fulfilling, independent lives through compassionate, high-quality homecare services. We are committed to promoting dignity, respect, and wellbeing in every interaction, making a positive difference in the lives we touch.
			</p>
		</div>
	</div>
	<div class="row" id="our-vision">
		<div class="col-md-4">
			<img class="w-100" src="{% static 'main/images/pngwing.png' %}">
		</div>
		<div class="col-md-8">
			<h2 class="mt-5 pt-4">
				Our Vision
			</h2>
			<p>
				Our vision is to set the standard for exceptional homecare and become the preferred choice in Hertfordshire & Cambridgeshire and beyond. We strive to create an environment where every client feels understood, cared for, and supported in their own homes, enhancing their quality of life and allowing them to enjoy life to the fullest. 
			</p>
		</div>
	</div>

</section>

<section class="container mt-3" id="our-core-values">
	<h1 class="text-center p-3 mb-4">Our Core Values</h1>
	<div class="row">
		<div class="col-md-6 mb-4">
			<div class="p-4" id="About1-card">
				<h2 class="text-white mb-3">
					1. Respect
				</h2>
				<p>
					We honour the inherent dignity of all individuals, treating everyone with the unwavering respect they deserve, whether they're part of our home care or Live-in care programs. 

				</p>
			</div>

		</div>

		<div class="col-md-6 mb-4">
			<div class="p-4" id="About1-card">
				<h2 class="text-white mb-3">
					2. Integrity
				</h2>
				<p>
					Upholding the highest standards of ethical and professional. behaviour in every facet of our care service, we let honesty and transparency guide our actions. 

				</p>
			</div>

		</div>

		<div class="col-md-6 mb-4">
			<div class="p-4" id="About1-card">
				<h2 class="text-white mb-3">
					3. Compassion
				</h2>
				<p>
					Our carers provide empathetic, understanding, and sensitive support, inspiring our domiciliary care services with genuine concern for each individual's wellbeing. 

				</p>
			</div>

		</div>

		<div class="col-md-6 mb-4">
			<div class="p-4" id="About1-card">
				<h2 class="text-white mb-3">
					4. Quality
				</h2>
				<p>
					Committed to delivering high-calibre care, we continually elevate our home care services to meet and exceed our clients' expectations. 

				</p>
			</div>

		</div>

		<div class="col-md-6 mb-4">
			<div class="p-4" id="About1-card">
				<h2 class="text-white mb-3">
					5. Collaboration
				</h2>
				<p>
					We foster a spirit of teamwork, partnering with clients, their families, and healthcare professionals to deliver a comprehensive and personalised care plan. 

				</p>
			</div>

		</div>
		<div class="col-md-6 mb-4">
			<div class="p-4" id="About1-card">
				<h2 class="text-white mb-3">
					6. Innovation
				</h2>
				<p>
					Embracing change, we continuously adapt, Learning and employing cutting-edge methods to provide the most effective and efficient care solutions, be it for domiciliary care, Live-in care, or supported Living. 

				</p>
			</div>

		</div>

		<p class="p-2 mx-3">
			These guiding principles are the lifeblood of our culture of care, resonating in every aspect of our service. They form the bedrock of our commitment to transforming lives, fostering community growth, and championing quality care. 

		</p>
	</div>
	
</section>

<section id="our-dedicated-team" class="mt-5">
	<div class="container mb-5">
		<h1 class="mb-3 our-team">
			Meet Our Dedicated Team
		</h1>
		<p class="p-fontWeight mb-3">
			At Living Plus Care Services, we believe that the strength of our care services lies in the dedication and professionalism of our team. Our staff is more than just employees - they are our family, passionate about making a difference in the lives of those they serve. 

		</p>
		<div class="ms-4 mt-4">
			<h3 class="our-team">
				• Skilled Caregivers
			</h3>
			<p>
				Our caregivers are the heart of our operation, delivering top-quality domiciliary care, live-in care, and supported living services. They undergo rigorous training to ensure they can meet a wide range of client needs with compassion and efficiency. 
			</p>
		</div>
		<div class="ms-4 mt-4">
			<h3 class="our-team">
				• Dedicated Management
			</h3>
			<p>
				Our management team provides the leadership and vision that keeps Living Plus Care Services at the forefront of home care. With a keen understanding of the healthcare sector and a commitment to excellence, they ensure our services consistently exceed expectations. 
			</p>
		</div>
		<div class="ms-4 mt-4">
			<h3 class="our-team">
				• Expert Trainers
			</h3>
			<p>
				Our trainers are devoted to upskilling our care team. They are experts in their field and provide ongoing training and professional development opportunities to our staff, ensuring that they remain updated with the latest care techniques. 

			</p>
		</div>
		<div class="ms-4 mt-4">
			<h3 class="our-team">
				• Support Staff			
			</h3>
			<p>
				From schedulers who ensure our caregivers are where they need to be, to administrators who keep our operations running smoothly, our support staff plays a crucial role in the delivery of our high-quality home care services. 

			</p>
		</div>
		<div class="ms-4 mt-4">
			<h3 class="our-team">
				• Community Liaisons
			</h3>
			<p>
				Our community liaisons foster strong relationships with Local communities and healthcare providers. They ensure that our services are integrated and beneficial for the wider community, helping us to provide holistic care. 

			</p>
		</div>

		<p class="p-fontWeight p-4">
			Every member of the Living Plus Care Services team shares a commitment to our core values, and together, we strive to enhance the quality of life for our clients. With passion, dedication, and a shared vision, we deliver a care experience that truly embodies 
			<span style="color:var(--card-bg-color);">'Your Comfort, Our Commitment Right at Home'. </span>

		</p>
		
	</div>
</section>



{% include "main/html-includes/start-conversation.html" %}


{% endblock content %}
