{% extends 'main/base-template.html' %}
{% load static %}

{% block content %}
	<div class="about-banner mb-3">
		<img src="{% static 'main/images/Image 12.png' %}" class="w-100">
		<div class="about-overlay"></div>
		<div class="contact-overlay" style="position: absolute;top: 50%; left:10%;">
			<h1 style="font-weight:bolder; color: var(--text-white); z-index: 100;">
				DOMICILIARY CARE SERVICE
			</h1>
		</div>
	</div>

	<div class="container">
		<section class="py-3">
			<p class="mb-3">
				At Living Plus Care Services, we understand that independence is a core aspect of maintaining your wellbeing and quality of life. That's why we offer top-tier domiciliary care services, designed to support your ability to live comfortably, safely, and independently in your own home.
			</p> <br>

			<div>
				<h2 class="mb-3">
					What Is Domiciliary Care?
				</h2>
				<p>
					Domiciliary care, also known as home care, is a service that supports individuals in their own homes with activities of daily living. Our care services are personalised, flexible, and planned according to your individual needs and lifestyle preferences. Whether you need help with daily tasks, personal care, or specialist care related to specific conditions, our trained caregivers are here to support you. 
				</p>
			</div>
			
		</section>

		<section class="py-3 domiciliary-service1">
			<h2 class="mb-3 py-3 w-50 text-center" 
			style="">
				Our Domiciliary Care Services
			</h2> <br>

			<ul class="row gx-5">
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Personal Care</h6>
					<p>
						We offer support with personal care tasks such as bathing, dressing, toileting, and grooming. Our caregivers respect your privacy and dignity while ensuring your personal hygiene needs are met.
					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Companionship</h6>
					<p>
						Loneliness can be challenging, but our caregivers offer friendly companionship, engaging in conversations, hobbies, or outings, helping to enrich your life with meaningful interactions. 
					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Night Care</h6>
					<p>
						We provide overnight care services to ensure your safety and well-being throughout the night. Whether you need assistance with bedtime routines, medication, or reassurance during the night, our caregivers are there for you. 
					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Live-In Care</h6>
					<p>		 
						Our live-in care service provides round-the-clock support, ensuring you receive the help you need whenever you need it. This is a perfect solution for those needing continuous care and wish to remain at home. 
					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Catheter Care</h6>
					<p>
						Our team is trained in managing and providing care for individuals with catheters, ensuring proper hygiene and monitoring to prevent infections. 
					</p>
				</li>
				
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Meal Preparation and Diet Support </h6>
					<p>
						Proper nutrition is essential for health and wellbeing. Our caregivers can assist with meal preparation, following dietary guidelines, and ensuring you enjoy a nutritious diet. 
					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Household Tasks</h6>
					<p>
						Keeping your home clean and organised can enhance your quality of life. Our caregivers can help with light housekeeping tasks like laundry, dusting, vacuuming, and more. 
					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Stoma Care</h6>
					<p>
						Living with a stoma can be challenging, but our caregivers can help manage your stoma care routine, giving you peace of mind and promoting your independence. 
					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Medication Assistance</h6>
					<p>
						We can support with medication administration, ensuring you take the right medicine at the right time, contributing to your overall health and wellbeing. 
					</p>
				</li>

			</ul> <br>

			<p class="p-fontWeight">
				At Living Plus Care Services, we believe in delivering care that improves lives, supports independence, and ensures our clients can continue to live at home where they are most comfortable. Our domiciliary care services are more than just help - they are a commitment to enhancing your lifestyle and well-being. To learn more about how we can support you or your loved ones, please contact us today. 
			</p>
		</section>

		<section class="row my-3 domiciliary-service2">
			<aside class="col-md-6">
				<img class="w-100" src="{% static 'main/images/Mask Group 3.png' %}">
				
			</aside>
			<article class="col-md-6">
				<br> <br>
				<h2 class="mb-3">
					Why Opt for Domiciliary Care? <br>
					<small>Benefits / Advantages of Domiciliary Care</small>
				</h2>

				<p> 
					Choosing domiciliary care can provide numerous benefits that directly enhance the quality of Life for you or your Loved ones. Here are some reasons why you might consider this type of care: 
				</p>
				
			</article>
		</section>
		<br>

		<section class="my-3 domiciliary-service3">
			<ul>
				<li class="mb-5">
					<h6>Comfort of Your Own Home</h6>
					<p>
						There's no place Like home. Domiciliary care allows individuals to stay in their familiar and comforting environment. Being surrounded by personal belongings and cherished memories can greatly enhance their sense of well-being and independence. 
					</p>
				</li>
				<li class="mb-5">
					<h6>Personalised Care</h6>
					<p>
						Unlike residential care, domiciliary care offers a highly personalised service, tailored to the unique needs and routines of each individual. This means the care you receive is always designed around your specific requirements, lifestyle, and preferences. 
					</p>
				</li>
				<li class="mb-5">
					<h6>Maintain Independence</h6>
					<p>
						One of the primary goals of domiciliary care is to promote independence. Our caregivers support you with daily tasks and personal care, but also encourage you to do as much as you can for yourself, helping to maintain your independence and self-esteem. 
					</p>
				</li>
				<li class="mb-5">
					<h6>Flexible and Adaptable</h6>
					<p>
						Domiciliary care services can be adapted to evolving needs. Whether you need a few hours of support each week or round-the-clock live-in care, services can be adjusted to ensure you receive the right Level of care at the right time.
					</p>
				</li>
				<li class="mb-5">
					<h6>Companionship and Emotional Support</h6>
					<p>
						Domiciliary care is not just about practical support. Our caregivers also provide companionship and emotional support, helping to combat feelings of loneliness and isolation. 
					</p>
				</li>

				<li class="mb-5">
					<h6>Peace of Mind for Loved Ones</h6>
					<p>
						For family members, knowing that their loved one is receiving professional care in the comfort of their own home can bring immense peace of mind. You can rest assured that your loved one's needs are being met in a caring and respectful manner. 
					</p>
				</li>
				<li class="mb-5">
					<h6>Cost-Effective Solution</h6>
					<p>
						Compared to residential care, domiciliary care can be a more cost-effective solution. You pay for the care you need, which can be adapted and scaled up or down as requirements change.
					</p>
				</li>
				<li class="mb-5">
					<h6>Supports Physical Health</h6>
					<p>
						Besides assisting with personal care and daily tasks, our caregivers can also aid in the administration of medication, nutrition planning, and exercise routines, helping maintain optimal physical health. 
					</p>
				</li>
				<li class="mb-5">
					<h6>Helps with Housekeeping</h6>
					<p>
						Our care providers can assist with light household chores such as cleaning, laundry, and meal preparation, ensuring a clean, organised, and comfortable living environment. 
					</p>
				</li>
				<li class="mb-5">
					<h6>Continuity of Care</h6>
					<p>
						With domiciliary care, a strong relationship is developed between the caregiver and the client. This continuity of care ensures that the caregiver knows the client's needs and preferences intimately, Leading to a higher standard of care. 
					</p>
				</li>
				<li class="mb-5">
					<h6>Retain Local Connections</h6>
					<p>
						Staying at home means maintaining Links with friends, neighbours, and the local community. This social connection plays a vital role in mental and emotional wellbeing. 
					</p>
				</li>
				<li class="mb-5">
					<h6>Pet-Friendly</h6>
					<p>
						Pets often provide significant companionship and emotional support. With domiciliary care, you or your loved ones can continue to live with and care for pets. 
					</p>
				</li>
				<li class="mb-5">
					<h6>Safeguards Family Relationships</h6>
					<p>
						By alleviating the pressure of care, domiciliary care can help maintain healthy and positive family relationships. It enables family members to spend quality time with their Loved ones, instead of solely focusing on caregiving. 

					</p>
				</li>
				<li class="mb-2">
					<h6>Less Disruptive</h6>
					<p>
						For people living with dementia or other cognitive impairments, changing living environments can be highly disruptive and distressing. Domiciliary care minimises this disruption by providing care in the familiar setting of their own home. 
					</p>
				</li>
			</ul>
			<br>
			<p class="p-3 mb p-fontWeight">		
				Choosing domiciliary care with Living Plus Care Services guarantees high-quality care tailored to your specific needs, while also ensuring the preservation of personal freedom and familiarity of home. Feel free to contact us to explore more about our comprehensive domiciliary care offerings. 
			</p>
		</section>

		<section class="row my-5 domiciliary-service4">
			<aside class="col-md-6">
				<img class="w-100" src="{% static 'main/images/Image 14.png' %}" style="border-radius:25px;">			
			</aside>

			<article class="col-md-6">
				<br> <br>
				<div>
					<h2 class="mb-3">
						Ensuring Consistent Domiciliary Care <br>
						<small>Our Approach At Living Plus Care Services</small>
					</h2>
					

					<p>
						At Living Plus Care Services, we pride ourselves on our steadfast commitment to consistency in care. Here's how we ensure this consistency: 
					</p>
				</div>
				
			</article>
			
		</section> <br>

		<ul class="domiciliary-service5">
			<li class="mb-5">
				<h6>Dedicated Care Professionals</h6>
				<p>
					We assign dedicated carers to our clients. This ensures that the same individual or team regularly visits you, providing a familiar, friendly face and building a strong, supportive relationship.
				</p>
			</li>
			<li class="mb-5">
				<h6>Personalised Care Plans</h6>
				<p>
					Our care plans are as unique as our clients. We take the time to understand your individual needs, preferences, and circumstances, allowing us to provide a service that feels truly personal and meets all your needs effectively. 
				</p>
			</li>

			<li class="mb-5">
				<h6>Regular Reviews</h6>
				<p>
					We believe in continuous improvement. We regularly review and adjust your care plan to ensure it's always meeting your current needs. Changes in your health, lifestyle or preferences are incorporated swiftly into your care regime. 
				</p>
			</li>
			<li class="mb-5">
				<h6>Extensive Caregiver Training</h6>
				<p>
					All of our caregivers undergo comprehensive and ongoing training. This ensures they're equipped with the skills and knowledge needed to provide a consistent high standard of care, regardless of the complexity of a client's needs.
				</p>
			</li>
			<li class="mb-5">
				<h6>Coordinated Care</h6>
				<p>
					We work in close collaboration with other health and social care providers involved in your care, such as GPs, nurses, and family members. This guarantees a coordinated approach, delivering cohesive and consistent care. 
				</p>
			</li>
			<li class="mb-5">
				<h6>Reliable Schedules</h6>
				<p>
					We respect your routine and work hard to align our visits to fit seamlessly into your daily life. Our care professionals are punctual and reliable, so you can always count on us to be there when you need us.
				</p>
			</li>
		</ul> 
 
		<p class="p-fontWeight">
			At Living Plus Care Services, consistency isn't just about providing the same high-quality care at every visit—it's about building meaningful relationships, fostering trust, and creating a sense of security and comfort for our clients. 
		</p>

		<p class="p-fontWeight">
			We are passionate about ensuring that your experience with us is not just satisfactory, but truly enriching.
		</p>

		<br>

		<section class="domiciliary-service1">
			<div class="banner text-center" style="">
				<h1 style="font-weight:bolder;">
					Who Needs Domiciliary Care?
				</h1>
				<h3 style="color:var(--text-white);">
					Identifying the Need for Domiciliary Care: Is it Right For You?
				</h3>
			</div>
			<br>
			<p class="text-center p-3 mb-3 p-fontWeight">
				Domiciliary care can be the answer for diverse individuals seeking assistance in their daily lives. It can be a lifeline for those who desire to maintain their independence while Living comfortably and securely at home. The following groups might consider domiciliary care: 
			</p> <br>

			<ul class="row gx-5">
				<li class="col-md-6 mb-3">
					<h6>
						<i class="fas fa-egg"></i> Seniors Seeking Assistance
					</h6>
					<p>
						As we age, certain tasks can become challenging. Elderly individuals who need support with daily chores, personal care, and mobility, or those combatting feelings of loneliness, can hugely benefit from our specialised domiciliary care services.
					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Persons with Long-Term Health Conditions</h6>
					<p>
						Those Living with chronic illnesses such as cardiovascular disease, COPD, diabetes, or neurological conditions Like Parkinson's disease often necessitate regular, competent care and support that our expert caregivers can deliver.
					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Individuals with Physical Impairments</h6>
					<p>
						We extend our care services to those Living with physical disabilities, offering aid with mobility, daily tasks, and personal care, helping them lead fulfilling lives. 
					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Recovering Individuals Post Surgery or Illness</h6>
					<p>
						If you're recovering from a major surgical procedure or recuperating from a severe illness, domiciliary care can be an ideal option. Our care services provide the necessary support as you journey back to health and regain your independence. 

					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Persons Living With Dementia Or Alzheimer's</h6>
					<p>
						Our trained caregivers offer empathetic, specialised care for individuals navigating life with dementia or Alzheimer's. We ensure their safety and comfort while promoting cognitive health through stimulating activities. 
					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Adults in Need of Palliative Care</h6>
					<p>
						For those requiring end-of-life care, our team provides sensitive, respectful support, always prioritising the comfort and dignity of the individual. 
					</p>
				</li>
			</ul> <br>
		</section>

		<section class="domiciliary-service1"> 
			<h3 class="p-3 mb-5 mx-auto text-center" style="border-top: 1px var(--darkblue-color) solid; border-bottom: 1px var(--darkblue-color) solid;
			color: var(--darkblue-color); font-weight: bold; width: 95%;">
				More Categories of Individuals Who Might Find Domiciliary Care Beneficial
			</h3> 

			<ul class="row gx-5">
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Individuals with Mental Health Challenges</h6>
					<p>
						People dealing with mental health conditions such as
						depression, anxiety, bipolar disorder, or PTSD can
						immensely benefit from the supportive and
						understanding care provided by our trained caregivers. 
						This assistance can facilitate management of their 
						everyday tasks, help in crisis prevention, and lend
						emotional support.
					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Young Adults with Learning Disabilities</h6>
					<p>
						Young adults who are navigating life with learning disabilities may find domiciliary care invaluable. 
						We offer assistance with social engagement, skill development, and day-to-day tasks, fostering 
						independence and confidence. 

					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Individuals Requiring Respite Care </h6>
					<p>
						For family caregivers in need of a short break or respite, our caregivers can step in to ensure continuity of care for your loved one. This service provides relief for the primary caregivers and ensures that the individual in need of care continues to receive the support they need. 

					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Persons Dealing with Sensory Impairment </h6>
					<p>
						For individuals experiencing loss of sight or hearing, our caregivers can provide assistance with communication, mobility, and everyday tasks. They can also offer guidance in using adaptive techniques and assistive devices. 

					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Parents With New-Borns Or Multiples</h6>
					<p>
 						New parents, especially those with multiple infants, can benefit from an extra pair of hands. Our caregivers can assist with infant care, errands, meal preparation, and light housekeeping, allowing parents to focus on bonding with their new-borns. 
					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Individuals Undergoing Cancer Treatment </h6>
					<p>
						People undergoing rigorous treatment regimes for cancer often require extra support. Domiciliary care can provide assistance with medication management, transportation to medical appointments, meal preparation, and emotional support. 

					</p>
				</li>
				<li class="col-md-6 mb-3">
					<h6><i class="fas fa-egg"></i> Individuals With Autism Spectrum Disorder (ASD)</h6>
					<p>
						 For both children and adults on the autism spectrum, our caregivers can offer a supportive and understanding environment. They assist with communication, social interaction, routine establishment, and day-to-day tasks. 

					</p>
				</li>
			</ul> 

			<p class="p-3 text-center p-fontWeight">
				Each person's needs are unique, and we take pride in providing customised care plans that cater to your specific circumstances and preferences. Get in touch with us today to explore how our devoted team at Living Plus Care Services can support you or your loved ones in the journey of living comfortably at home. 
			</p> <br>
		</section>
		
	</div>

		{% include "main/html-includes/prefer-offline-download.html" %}


	<section  class="container p-3 mt-5 make-the-move">
		<h2 class="text-center mb-3">
			Making The Move: Transitioning To Domicialiary Care
		</h2>
		<p class="text-center p-2 mb-5" style="box-shadow: none;">
			We understand that moving from a hospital setting or shifting from a different type of care to domiciliary care can be a significant change for you or your loved one. At Living Plus Care Services, we ensure this transition is as smooth and comfortable as possible. 
		</p>
		
		<div class="row mb-5 mb-remove">
			<aside class="col-md-6">
				<img class="w-100" src="{% static 'main/images/Image 15.png' %}" id="try">
			</aside>
			<article class="col-md-6" >
				<p class="p-4" id="make-the-move-text1">
					Our dedicated care team is trained to handle the transition process with utmost sensitivity and professionalism. From the initial in-depth consultation to the development of a personalised care plan, we ensure every detail is covered. We take into consideration medical needs, personal preferences, and lifestyle habits, providing a seamless transition to home-based care. 
				</p>
			</article>	
		</div> <br>

		<div class="row mb-5 mb-remove">
			<article class="col-md-6">
				<p class="p-4" id="make-the-move-text2">
					We believe in open and ongoing communication with you and your family. Our care team will guide you through the transition process, answering any questions, addressing concerns, and providing the necessary support every step of the way. 
				</p>
			</article>	
			<aside class="col-md-6">
				<img class="w-100" src="{% static 'main/images/Image 16.png' %}">
			</aside>
		</div> <br>

		<div class="row mb-5 mb-remove">
			<aside class="col-md-6">
				<img class="w-100" src="{% static 'main/images/Image 18.png' %}">
			</aside>
			<article class="col-md-6">
				<p class="p-4" id="make-the-move-text3">
					If needed, we can offer guidance on making home adjustments for enhanced safety and accessibility, ensuring your home environment is conducive to your care and wellbeing. 
				</p>
			</article>	
		</div> <br>

		<div class="row mb-5 mb-remove">
			<article class="col-md-6">
				<p class="p-4" id="make-the-move-text4">
					Your comfort is our priority. We work diligently to ensure the care delivered is person-centred, maintaining your independence and dignity, while making the transition to home-based care a positive experience. 
				</p>
			</article>	
			<aside class="col-md-6">
				<img class="w-100" src="{% static 'main/images/Image 19.png' %}">
			</aside>
		</div>

		<p class="p-fontWeight p-5 mb-3 mt-2 text-center" style="box-shadow:none;">
			With Living Plus Care Services, transitioning to domiciliary care is a step forward to better health, enhanced personal. freedom, and the warmth of professional. care right at home. 
		</p>
		
	</section>
	
{% endblock content %}
