{% extends 'main/base-template.html' %}
{% load static %}

{% block content %}
<div class="about-banner">
	<img src="{% static 'main/images/Image 30.png' %}" class="w-100">
	<div class="about-overlay"></div>
</div>
<section id="who-are-we">
	<div class="container-fluid">
		<div class="who-content px-1 pb-3 pt-0 mb-3 w-75 mx-auto">
			<h2 class="p-4 mb-0 text-center w-75 mx-auto" style="font-weight:bold;">
				Frequently Asked Questions (FAQ)
			</h2>

			<ul>
				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						1. What are the Opening Times for Living Plus Care Services?
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						Our office hours are from 9:30 AM to 5:30 PM, Monday to Friday. However, we provide care services 24/7 to meet the needs of our clients. 

					</p>
				</li>

				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						2. How Many Branches Does Living Plus Care Services Have? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						We have two branches: <br>
						 • Hatfield: 229, 2nd floor, Titan Court, Hatfield, Hertfordshire, AL10 9NA <br>
						 • Peterborough: Stuart House, East Wing, St John's Street, Peterborough 

					</p>
				</li>

				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						3. How To Contact Living Plus Care Services?  
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						You can get in touch with our Registered Manager, Novuyo Millicent Ntaisi, to discuss any aspect of the care provided. To find out more please get in touch with our friendly team on +441733 911656/ +441707707599 or email us at Info@livingpluscare.co.uk 

					</p>
				</li>

				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						4. What Social Media Platforms Does Living Plus Care Services Have? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						We are active on Facebook, Twitter (X), and LinkedIn. You can follow us to stay updated on our services and activities. 


					</p>
				</li>

				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						5. What Types Of Care Services Does Living Plus Care Services Provide? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						We provide a range of care services including Domiciliary Care, Supported Living, Temporary Staffing, Live-in Care, Complex Care, Overnight Care, Companionship Care, and many more, tailored to meet the diverse needs of our clients. 

					</p>
				</li>

				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						6. What Is The Process To Book An Appointment? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						Booking an appointment is a straightforward process. You can call us at +441733 911656// +441707707599 or email us at Info@livingpluscare.co.uk and our friendly team will assist you in scheduling an appointment at a time that is convenient for you. 

					</p>
				</li>

				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						7. What Is The Average Wait Time For An Appointment? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						The wait time can vary depending on the nature of the care required and the availability of our carers. It's advisable to contact us directly for the most current scheduling availability. 

					</p>
				</li>

				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						8. Does The Company Provide Emergency Services? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						Yes. We have established protocols for handling emergencies. Our carers are trained to act promptly to ensure the safety and well-being of our clients in emergency situations. 

					</p>
				</li>

				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						9. What Measures Does Living Plus Care Services Take To Ensure Patient Safety And Privacy? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						At Living Plus Care Services, we uphold strict privacy and confidentiality policies in line with regulatory standards. We ensure that all our staff are trained to maintain a safe and respectful environment, adhering to the guidelines set by the Care Quality Commission (CQC) to ensure the provision of safe, effective, and high-quality care services. 

					</p>
				</li>

				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						10. What Is The Cost Of A General Consultation At The Healthcare Company? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						Generally, we offer free consultations to discuss your care needs and to develop a personalised care plan that suits your requirements, but this can vary depending on the nature and complexity of the care required. It's advisable to contact our office directly at +44 1733 911656/ +441707707599 or via email at Info@livingpluscare.co.uk for further details. 

					</p>
				</li>

				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						11. Does The Company Offer Any Discounts Or Financial Assistance Programs? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						We are committed to providing affordable care services and are open to discussing various payment options. Please contact us directly to explore available discounts or financial assistance programs. 

					</p>
				</li>
				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						12. What Languages Are Spoken By The Staff At Living Plus Care Services? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						Our staff are proficient in English. We also have team members who speak other languages and we strive to accommodate the linguistic preferences of our clients. 

					</p>
				</li>
				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						13. What Is The Company's Policy On Follow-Up Appointments? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						Follow-up appointments are scheduled based on individual care plans to ensure ongoing support and to adjust the care plan as needed, ensuring the delivery of high-quality, personalised care. 

					</p>
				</li>

				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						14. How Can I Transfer My Medical Records To/From The Company? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						Our team will guide you through the process of transferring medical records. Please contact us directly to initiate the process and ensure a seamless transition of your medical information. 

					</p>
				</li>

				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						15. Does The Company Offer Home Visits Or In-Home Care Services? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						Yes, Living Plus Care Services specialises in providing personalised in-home care services to support individuals in the comfort of their own homes, catering to a range of care needs. 

					</p>
				</li>

				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						16. What Is The Procedure To Handle Medical Emergencies During Non-Operating Hours? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						Our care services are available 24/7, with protocols in place to handle medical emergencies promptly, ensuring the safety of our clients. Our carers are trained to respond to emergencies and will follow established procedures to provide the necessary care and support. 

					</p>
				</li>
				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						17. Does The Company Have Wheelchair Access And Other Facilities For Individuals With Disabilities? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						Yes, our facilities are designed to be accessible to all individuals, including those with disabilities. We ensure that our services are inclusive and accommodating to meet the diverse needs of our clients. 

					</p>
				</li>
				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						18. Does The Company Offer Any Health And Wellness Programs? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						Yes, Living Plus Care Services offers health and wellness programs designed to enhance the overall well-being of our clients. Examples include personalised exercise plans, nutritional guidance, and mental health support services tailored to meet the individual needs and preferences of each client. 

					</p>
				</li>
				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						19. What Is The Process For Getting A Second Opinion At Living Plus Care Services? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						We understand the importance of having confidence in the care you receive. If you seek a second opinion, we can facilitate consultations with other healthcare professionals within or outside our network to ensure you have the information you need to make informed decisions about your care. 

					</p>
				</li>
				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						20. Does The Company Provide Any Health Education Resources Or Workshops? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						Yes, at Living Plus Care Services, we believe in empowering our clients and their families through education. We offer resources and workshops on various topics such as managing chronic conditions, medication management, and understanding dementia among others. 

					</p>
				</li>
				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						21. How Does The Company Handle Prescription Refills? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						At Living Plus Care Services, we can assist clients in managing their medication including prescription refills. Our carers work in close coordination with healthcare providers to ensure that prescriptions are refilled in a timely manner, ensuring continuous medication management. 

					</p>
				</li>
				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						22. What Is The Procedure For Urgent Care At The Healthcare Company? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						For urgent care needs, clients or their families are encouraged to contact us directly at +44 1733 911656 / +441707707599. Our team is equipped to respond promptly and coordinate the necessary care services to address urgent requirements. 

					</p>
				</li>
				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						23. How Does The Company Ensure Continuity Of Care If A Patient Moves To A Different Location? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						Continuity of care is a priority for us. In the event a client relocates, we will coordinate with our network and local healthcare providers to ensure a seamless transition of care services, maintaining the integrity and quality of the care plan. 

					</p>
				</li>
				<li class="mb-4">
					<h4 style="position: relative;" class="px-4 py-2">
						24. What Is The Process To Cancel Or Reschedule An Appointment? 
						<div class="common-overlay faq-overlay"></div>
					</h4>
					<p class="ps-4 ms-4">
						To cancel or reschedule an appointment, clients are encouraged to contact us as soon as possible at +44 1733 911656/ +441707707599 or via email at Info@livingpluscare.co.uk Our team will assist in rescheduling the appointment to a more convenient time or address any other concerns. 

					</p>
				</li>
			</ul>
		</div>
	</div>
</section>


{% include "main/html-includes/start-conversation.html" %}


{% endblock content %}
