{% extends 'main/base-template.html' %}
{% load static %}

{% block pageTitle %}
	<title>Living Plus Care | Home</title>
{% endblock pageTitle %}

{% block pageMetaData %}
	<meta name='keywords' content='LPC,lpc, Living Plus Care,'>
	<meta name='description' content='150 words'>
	<meta name='subject' content='your website's subject'>
	<meta name='topic' content=''>
	<meta name='summary' content=''>
{% endblock pageMetaData %}

{% block content %}
<section id="home-page">
	<img class="w-100" src="{% static 'main/images/Home Page1.png' %}">

	<div class="p-3 home-page-text">
		<div class="container text-center">
			<h1 class="mb-3 mb-sm-0 p-2">
				WELCOME TO LIVING PLUS CARE SERVICES, YOUR TRUSTED
				PARTNER IN HEALTH AND WELLBEING. WE ARE DEDICATED TO
				ENHANCING THE QUALITY OF LIFE FOR OUR CLIENTS. 
			</h1>
			<p class="pb-3 " id="home-page-text-description" style="font-size:16px;">
				At Living Plus Care Service, we believe in the power of choice. We understand 
				that every individaul is unique, and so are their needs. That's why we offer
				bespoke care services tailored to your individaul requirements. Whether you
				need full-time domicialiary care, temporary staffing, or supported living services, 
				WE ARE HERE TO HELP.
			</p>
		</div>
	</div>
	
</section>
<div id="testimony-rating">
	<section class="container p-3">
		<ul class="mb-3 py-3"style="list-style-image: url('static/main/images/rate.png');list-style-position:unset;" >
			<li>
				<span>
					Living Plus Care Services prides itself on being a leading provider in domiciliary care, home care, and live-in care among other services, delivering services that exceed expectations. Our dedication and professionalism are reflected in our exceptional Review Score of 9.7 out of 10 on homecare.co.uk, one of the UK's leading review platforms for home care services.
				</span>
			</li>
		</ul>

		<div class="row">
			<div class="col-md-4">
				<p class="rating">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				</p>
				<p class="p-2">
					Our experience with Living Care Plus has been very positive. The carers are friendly, professional, respectful and caring. They arrive on time looking immaculate. Most importantly, they know their staff. I would highly recommend them. 
					
				</p>
				<small>
					<p class="p-2">
						Review from B B (Wife of Client) published on 
						<span class="date-review">2 August 2023</span>
					</p>
				</small>
			</div>

			<div class="col-md-4">
				<p class="rating">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				</p>
				<p class="p-2">
					I can't be more pleased with the carers, management and overall the company. Extremely professional, perfectly presented and a high level of care at all times. All my carers are extremely competent, I would go as far as to say as professional as a nurse in the hospital. They go above and beyond every visit. I look forward to their visits as they are so friendly as I don't have any visitors and they brighten up my days.
				</p>
				<small>
					<p class="p-2">Review from Darhelle M (Client) published on
						<span class="date-review">28 July 2023</span>
					</p>
				</small>
			</div>
			<div class="col-md-4">
				<p class="rating">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				</p>
				<p class="p-2">
					Living Place Care Services provide a wonderful service in all aspects. Every carer is courteous, smiley, and personable, like a breath of fresh air through my door every morning. The Level of care, dignity, and respect I show is exemplary. Well done, lovely ladies. 
				</p>
				<small>
					<p>Review from Susan B(Client) published on 
						<span class="date-review">21 July 2023</span>
					</p>
				</small>
			</div>
		</div>
		<p class="p-2">
			These heartfelt reviews speak to our unmatched dedication to quality care. We invite you to join our growing family and experience first-hand our commitment to enhancing your life. Together, let's create a brighter, healthier tomorrow - <b>Your Comfort, Our Commitment, Right at Home</b>
		</p>
	</section>
</div>
<section class="py-3" id="track-record">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h2>
					Our Track Record:<br>Years of Dedicated Service 
				</h2>

				<p>
					Over the years, Living Plus Care Services has built an impressive track record that resonates with our commitment to high-quality care. Our experience speaks for itself: 
				</p>

				<ul>
					<li>
						<span>
							We have supported hundreds of clients and their families across Hertfordshire and now Cambridgeshire, understanding their unique needs and providing care that enhances their quality of life. 
						</span>
					</li>
					<li>
						<span>
							Our dedicated team has delivered countless hours of care, a testament to our unwavering commitment to serving our clients with compassion and professionalism. 
						</span>
					</li>

					<li>
						<span>
							Each day, we strive to make a difference, going the extra mile to ensure comfort, peace of mind, and satisfaction for all our clients and their families. 
						</span>
					</li>
				</ul>
			</div>

			<div class="col-sm-4"> <br> <br>
				<img class="d-block my-auto responsive" src="{% static 'main/images/record.webp' %}" alt="Picture of our track record" style="width:100%; height: 80%; border-radius: 20px;">
			</div>
		</div>
		
	</div>

	<div class="container">
		<p>
			Our wealth of experience, combined with a person-centered approach has established us as a leading provider of care services in the United Kingdom. Trust us to be your partner in health and well-being, delivering care that truly makes a difference. 
		</p>
	</div>
	
</section>

<section class="py-3 mb-2" id="dedication">
	<div class="container">
		<div class="row">
			<div class="col-">
				<h2>
					Unmatched Dedication to Excellence in Care
				</h2>

				<p style="font-weight: 350;">
					At Living Plus Care Services, our steadfast commitment to exceptional care sets us apart in the domiciliary care, home care, and live-in care sectors. Our dedication shines through in several unique ways: 
				</p>

				<ul>
					<li>
						<span>
							Our commitment to your care begins from the moment we stop into your home until we Leave, ensuring each minute is devoted to providing the care you deserve. 
						</span>
					</li>
					<li>
						<span>
							Each visit is tailored to meet your needs with a relaxed pace, ensuring that our time together isn't dictated by the clock but by your comfort and well-being. 
						</span>
					</li>

					<li>
						<span>
							We pair you with professional caregivers whose skills, experiences, and personalities resonate with your needs and lifestyle, fostering a genuine and meaningful connection.  
						</span>
					</li>

					<li>
						<span>
							We maintain a polished, professional appearance without the use of uniforms. This approach ensures a discreet presence, particularly when we accompany clients on outings within their communities.  
						</span>
					</li>

					<li>
						<span>
							We pride ourselves on being responsive and perceptive, always on the lookout for any changes in your well-being, and acting swiftly to meet your evolving needs.  
						</span>
					</li>
				</ul>
			</div>
		</div>
		
	</div>

	<div class="container">
		<p>
			Choosing Living Plus Care Services means choosing an exceptional, trustworthy, and compassionate partner for your care journey. Trust us to enrich your life with our bespoke, top-quality services. 
		</p>
	</div>
	
</section>

<section class="py-3" id="care-services">
	<div class="container  py-3 mb-3 description" >
		<h2 class="text-center mb-3 py-2">
			Our Premier Care Services
		</h2>
		<p class="text-center">
			Countless families entrust Living Plus Care Services with the well-being of their loved ones, valuing our commitment to delivering top-quality home care, domiciliary care, and live-in care, among other services. Our comprehensive list of services is tailored to empower our clients, enabling them to enjoy a safe, independent life within the familiar comforts of their homes.
		</p>
	</div>

	<div class="container mb-3" id="card-container">
		<div class="row mx-auto">
			<article class="mb-3 col-md-4">
				<div class="card">
					<hr>
					<h6 class="mb-0">HOME-CENTRIC CARE</h6>
					<h3 style="color:var(--text-white); font-weight:bolder;">Domiciliary Care</h3>

					<p class="mb-3">
						Customised care solutions delivered in the familiar environment of your home, enhancing your independence and quality of life. 
					</p>

					<br><br>
					<a href="{% url 'domicialiary_service' %}" class="btn">Read more</a>
				</div>
				
			</article>

			<article class="mb-3 col-md-4">
				<div class="card">
					<hr>
					<h6  class="mb-0">ADAPTIVE STAFFING SOLUTIONS</h6>
					<h3 style="color:var(--text-white); font-weight:bolder;">Temporary Staffing</h3>

					<p class="mb-3">
						Flexible staffing solutions to address your unique needs, ensuring continuity of care even during unforeseen circumstances. 
					</p>

					<br><br>
					<a href="#readmore" class="btn">Read more</a>
				</div>
				
			</article>

			<article class="mb-3 col-md-4">
				<div class="card">
					<hr>
					<h6  class="mb-0">ASSISTED INDEPENDENCE</h6>
					<h3 style="color:var(--text-white); font-weight:bolder;">Supported Living</h3>

					<p class="mb-3">
						Supportive services that promote self-reliance and empowerment, fostering an independent lifestyle while ensuring care and assistance are always at hand. 
					</p>

					<br><br>
					<a href="{% url 'supported_service' %}" class="btn">Read more</a>
				</div>
				
			</article>
		</div>
		
	</div>

	<div class="container">
		<p>
			Each of our services is rooted in a deep understanding of our client's unique needs and a commitment to enhancing their lives. For detailed information on how each service is designed to cater to different needs, we encourage you to visit our Services Page. Embrace the Living Plus Care Services difference, and let's embark on a journey towards better health and well-being together. 
		</p>
	</div>
	
</section>

<section class="mb-3">
	<div id="guiding-you" style="position: relative;">
		<img src="{% static 'main/images/Image 5.png' %}" class="w-100" >

		<div style="position:absolute;top: 0;left: 0; width: 100%; height: 100%; background: #019d76; opacity: .2; z-index: 5;"></div>

		<div style="position:absolute;bottom: 0;left: 0; right: 0; width: 100%; height: 6em; background:white; opacity: .8;"  class="pt-3">
			<div class="container">
				<h2 class="py-3 px-4 mb-0 mt-auto">Guiding You to the Ideal Home Care Solution</h2>
			</div>
		</div>
	</div>
	<article>
			<div class="container">
				<div class="content mt-0">
					<p>
						Choosing the the right home care, domiciliary care, or live-in care provider is an important decision that requires careful consideration. It involves understanding your needs, but at its heart, it's about finding the care team that can truly enrich your life. 
					</p>
					<p>
						It's essentially about understanding your care requirements and asking, "What is it that I seek from my care provider?" 
					</p>

					<ul>
						<li>
							<span>
								Here are some aspects you might consider:
							</span>
						</li>
						<li>
							<span>
								What assistance do you require?
							</span>
						</li>
						<li>
							<span>
								How frequently should a caregiver visit?
							</span>
						</li>
						<li>
							<span>
								What are your preferred visit times?
							</span>
						</li>
						<li>
							<span>
								How many hours per day/week do you require home care assistance?
							</span>
						</li>
					</ul>

					<p>
						However, beyond this logistics, the essence of care lies in the human connection. If you seek not just a professional caregiver but a companion who can establish a heartfelt bond with your loved one, then Living Plus Care Services is your ideal choice. 
					</p>
					<p>
						At Living Plus Care Services, we don't just provide care, we become part of your extended family, prioritizing your comfort and well-being in every decision. Let us navigate this journey together, crafting a care plan that caters uniquely to you. 
					</p>
				</div>
			</div>
	</article>
</section>
<br>
<section class="py-3 mb-3" id="partners">
	<div class="container p-3">
		<h2 class="text-center py-1">Our Parteners</h2>
		<div class="partner-images">
			<img class="d-inline-block" src="{% static 'main/images/Milton Keynes.png' %}">
			<img class="d-inline-block" src="{% static 'main/images/Cambridgeshire22.png' %}">
			<img class="d-inline-block" src="{% static 'main/images/Kent.png' %}">
			<img class="d-inline-block" src="{% static 'main/images/Hertfordshire22.png' %}">
			<img class="d-inline-block" src="{% static 'main/images/Hcpa Ltd.png' %}">
		</div>
	</div>
	
</section>

{% include "main/html-includes/start-conversation.html" %}
{% endblock content %}
