{% extends 'main/base-template.html' %}
{% load static %}

{% block content %}
<section class="mb-4" id="supported">
	<img class="w-100" src="{% static 'main/images/Image 22.png' %}" style="height: 50em;">

	<div class="p-3">
		<h1 class="mb-3 mb-sm-0 p-2" style="opacity: 1;">
			SUPPORTED LIVING SERVICE
		</h1>
		<h4 class="pb-3 p-fontWeight " style="opacity: 1; color: white;">
			Embracing Idependence, Enriching Lives
		</h4>
	</div>

	
</section>

<section class="my-3">
	<div class="container mb-3 py-5 px-3">
		<p class="">
			Welcome to our Supported Living Services at Living Plus Care Services. We firmly believe in promoting and fostering autonomy, self-determination, and personal growth. Through our supported Living services, we aim to enhance the quality of life for individuals who wish to Live independently, yet require assistance with certain aspects of day-to-day life. We provide a unique blend of support, tailored to individual needs and aspirations, ensuring that every individual we serve enjoys an enriched life in the comfort of their own home. 
		</p>
		<p class="">
			Discover how we are making a difference in people's Lives, enabling them to experience the joy of independent living while receiving the necessary support and care from our dedicated professionals. Join us in this journey towards independence and a fulfilling Life with our supported living services. 
		</p>
	</div>

	<div id="supported-living">
		<div class="container py-5">
			<div class="row" >
				<div class="col-md-5">
					<img class="w-100" src="{% static 'main/images/Image 23.png' %}" style="height:30em">
				</div>
				<aside class="col-md-7 p-4">
					<h3 class="mb-3 pt-5" >What Is Supported Living?</h3>

					<p>
						Supported living is a person-centred approach to providing care that focuses on enabling individuals to Live as independently as possible in their own homes, with tailored support to meet their unique needs and aspirations. 
					</p>
					<p>
						This service is designed for individuals who may require assistance due to disability, age, illness, or other Life circumstances, but who value their independence and wish to maintain it. With supported Living, individuals have the chance to Lead fulfilling Lives within their communities, making their own choices and decisions about how they Live, with a helping hand from skilled care professionals when needed. 
					</p>
				</aside>
			</div>
		</div>
		<div class="common-overlay"></div>
	</div>
</section>

<section class="container p-3 mb-3 " id="delivering-excellence">
	<h3 class="p-3 text-center">
		Delivering Excellence In Supported Living
	</h3>
	<p class="p-3 text-center p-fontWeight">
		At Living Plus Care Services, we take immense pride in our supported Living services, committed to providing unparalleled care that fosters independence and empowers individuals to Live fulfilling Lives within their communities. Here's what sets us apart: 
	</p>

	<div class="row py-3">
		<div class="col-md-6 p-3 mb-3">
			<div class="py-3 px-4 delivering-excellence">
				<h3 cl>Personalised Care Plans </h3>
				<p>
					Our approach begins with the individual. We understand that each person has unique needs, preferences, and aspirations. Therefore, we tailor our care plans to align with each individual's Lifestyle and personal goals. 
				</p>
				<div class="common-overlay delivering-excellence-overlay"></div>

			</div>
		</div>
		<div class="col-md-6 p-3 mb-3">
			<div class="py-3 px-4 delivering-excellence">
				<h3 cl>Highly Trained Staff </h3>
				<p>
					Our care professionals undergo rigorous training and continuous development programs, ensuring they are well-equipped to provide high-quality care. With a keen understanding of the nuances of supported Living, they are passionate about promoting independence, respect, and dignity. 
				</p>
				<div class="common-overlay delivering-excellence-overlay"></div>
			</div>
		</div>
		<div class="col-md-6 p-3 mb-3">
			<div class="py-3 px-4 delivering-excellence">
				<h3 cl>24/7 Support </h3>
				<p>
					We provide round-the-clock support to ensure peace of mind for both our clients and their Loved ones. Our dedicated care team is always a call away, ready to assist with any queries or emergencies. 
				</p>
				<div class="common-overlay delivering-excellence-overlay"></div>
			</div>
		</div>
		<div class="col-md-6 p-3 mb-3">
			<div class="py-3 px-4 delivering-excellence">
				<h3 cl>Inclusive Environment </h3>
				<p>
					We strongly believe in fostering an inclusive environment. Our care professionals encourage individuals to participate in community activities, making sure they feel connected and engaged. 
				</p>
				<div class="common-overlay delivering-excellence-overlay"></div>
			</div>
		</div>
		<div class="col- p-3 mb-3">
			<div class="py-3 px-4 delivering-excellence">
				<h3 cl>Seamless Communication </h3>
				<p>
					We ensure open and transparent communication with individuals and their families, keeping them informed and involved in the care process. We believe that by working together, we can ensure the best outcomes for those we serve. 
				</p>
				<div class="common-overlay delivering-excellence-overlay"></div>
			</div>
		</div>

		<p class="mb-3 p-3 text-center">
			At Living Plus Care Services, we are not just providing care; we are enhancing lives, promoting independence, and nurturing the spirit of community living. 
		</p>
	</div>
</section>

<section class="py-5 mb-3 " id="reason-support">
	<div class="common-overlay" style="background: blue;opacity: .122222;"></div>
	<div class="container">
			
		<h1 class="p-3 text-center">
			Reasons To Choose Supported Living
		</h1>
		<p class="p-3 text-center p-fontWeight">
			Supported Living is an excellent care choice for individuals seeking to retain independence while receiving necessary support in a safe, community-focused environment. Here's why: 
		</p>

		<div class="row">
			<div class="col-md-6 p-3 mb-3">
				<div class="py-3 px-4 delivering-excellence reason-support-color">
					<h3>1. Maintain Independence </h3>
					<p>
						Supported Living is all about empowerment. It allows individuals to Lead their own lives, make their own decisions, and partake in the activities they enjoy, with a support network in place when needed. 
					</p>
					<div class="common-overlay reason-support-overlay"></div>
				</div>
			</div>
			<div class="col-md-6 p-3 mb-3">
				<div class="py-3 px-4 delivering-excellence reason-support-color">
					<h3 cl>2.  Customised Support </h3>
					<p>
						Support is personalised to meet the unique needs of each individual. Whether it's help with daily tasks, medication management, or attending social. events, the leveL of assistance adapts to changing needs over time. 
					</p>
					<div class="common-overlay reason-support-overlay"></div>
				</div>
			</div>
			<div class="col-md-6 p-3 mb-3">
				<div class="py-3 px-4 delivering-excellence reason-support-color">
					<h3 cl>3.  Community Integration </h3>
					<p>
						Supported Living promotes active participation within the community, encouraging individuals to engage in Local activities and events. This social. inclusion fosters a sense of belonging and improves mental. weLL-being. 
					</p>
					<div class="common-overlay reason-support-overlay"></div>
				</div>
			</div>
			<div class="col-md-6 p-3 mb-3">
				<div class="py-3 px-4 delivering-excellence reason-support-color">
					<h3 cl>4. Safe Environment </h3>
					<p>
						Living in a supported setting ensures safety and security, with staff available 24/7 for emergencies or just a reassuring presence. This can provide peace of mind for both individuals and their loved ones. 
					</p>
					<div class="common-overlay reason-support-overlay"></div>
				</div>
			</div>
			<div class="col-md-6 p-3 mb-3">
				<div class="py-3 px-4 delivering-excellence reason-support-color">
					<h3 cl>5. Financial Control </h3>
					<p>
						Individuals in Supported Living often have more control. over their finances, as costs can be more predictable and manageable compared to other care settings. They can budget for their personal expenses while their care needs are taken care of. 
					</p>
					<div class="common-overlay reason-support-overlay"></div>
				</div>
			</div>
			<div class="col-md-6 p-3 mb-3">
				<div class="py-3 px-4 delivering-excellence reason-support-color">
					<h3 cl>6. Continuity Of Care </h3>
					<p>
						Supported Living offers consistency, with familiar faces providing care and support. This builds trust, enhances the quality of care, and strengthens the bond between individuals and their care team. 
					</p>
					<div class="common-overlay reason-support-overlay"></div>
				</div>
			</div>

			<p class="mb-3 p-3 text-center">
				Opting for Supported Living with Living Plus Care Services means choosing an enriched Life that promotes independence, ensures safety, and fosters community inclusion. 
			</p>
		</div>

		<hr>
		<section class="mt-5" id="supported-approch">
			<h3 class="mb-3">Supported Living - Our Approach</h3>
			<p class="p-fontWeight mb-5">
				At Living Pius Care Services, our approach to supported Living is driven by a desire to empower individuals while promoting a safe, nurturing, and inclusive environment. Here's how we achieve this: 
			</p>

			<div class="row gx-5">
				<div class="col-md-6 mb-3">
					<h3 class="mb-3"><i class="fas fa-egg"></i> Person-Centred Planning </h3>
					<p class="ps-4">
						Our foremost priority is understanding the unique needs, aspirations, and Lifestyle preferences of each individual. We create personalised care plans that put the individual at the heart of decision-making, ensuring they feel respected, heard, and involved. 
					</p>
				</div>

				<div class="col-md-6 mb-3">
					<h3 class="mb-3"><i class="fas fa-egg"></i> Consistent and Compassionate Support </h3>
					<p class="ps-4">
						We aim to foster a familiar and comforting atmosphere for those under our care. By ensuring consistency in the care team, we allow relationships to develop naturally, building trust and emotional support alongside physical care.  
					</p>
				</div>

				<div class="col-md-6 mb-3">
					<h3 class="mb-3"><i class="fas fa-egg"></i> Encouragement of Independence </h3>
					<p class="ps-4">
						While our support is always at hand, we encourage individuals to take charge of their daily activities, fostering self-confidence and a sense of achievement. Our aim is to enable, not disable, promoting independence wherever possible. 
					</p>
				</div>

				<div class="col-md-6 mb-3">
					<h3 class="mb-3"><i class="fas fa-egg"></i> Regular Reviews and Feedback  </h3>
					<p class="ps-4">
						We regularly review our care plans and take on board feedback from individuals and their families. This ensures our services continually evolve and improve, keeping the individual's wellbeing at the centre of everything we do. 

					</p>
				</div>

				<div class="col-md-6 mb-3">
					<h3 class="mb-3"><i class="fas fa-egg"></i> Integration into the Community  </h3>
					<p class="ps-4">
						We firmly believe in the positive impact of community involvement. Therefore, we facilitate social participation and interaction within the Local community, encouraging our clients to explore their interests and form Lasting friendships. 

					</p>
				</div>

				<div class="col-md-6 mb-3">
					<h3 class="mb-3"><i class="fas fa-egg"></i> Collaborative Approach </h3>
					<p class="ps-4">
						We work with other healthcare professionals, family members, and community services to ensure a holistic and integrated approach to care.   
					</p>
				</div>


				<p class="p-fontWeight">
					By focusing on respect, independence, and community integration, we strive to provide an enriched, fulfilling lifestyle in our Supported Living Services. With Living Plus Care Services, rest assured that you or your loved one is in compassionate, capable hands. 
				</p>
			</div>
		</section>		
	</div>
</section>

<section id="our-process" class="py-3">
	<div class="container py-5">
		<h1 class="mb-3 "> 
			Our process - crafting peersonalised supported living
			experiences
		</h1>
		<p class="p-fontWeight py-4">
			At Living Plus Care Services, we recognise the moment when you understand that professional assistance can greatly enrich your life or that of your loved ones. We acknowledge the significance of this moment and we're here to support you through each phase of this journey. Here's an outline of our carefully curated process: 
		</p>

		<ol>
			<li class="mb-3 py-2">
				<h3>1. Initial Contact: </h3>
				<p>
					Reaching out to us is the first step. Whether through a phone call, email, or an online query, we're always available to Listen. We acknowledge the distinct needs of each individual and are dedicated to providing the necessary guidance customised to your specific situation. 
				</p>
			</li>
			<li class="mb-3 py-2">
				<h3>2. Personal Consultation: </h3>
				<p>
					Upon your initial contact, we arrange a personal consultation. This allows us to gain a deeper understanding of you or your Loved one. We evaluate individual needs, preferences, and daily routines to develop a comprehensive understanding, which enables us to formulate a care plan tailored to your unique requirements. 
				</p>
			</li>
			<li class="mb-3 py-2">
				<h3>3. Crafting A Per1sonalised Care Plan:</h3>
				<p>
					We design a personalised care plan based on our comprehensive evaluation. This outlines the specific services to be provided, accommodating everything from daily chores to medication management, and even incorporating personal interests and hobbies. 
				</p>
			</li>
			<li class="mb-3 py-2">
				<h3>4. Pairing With The Ideal. Support Worker: </h3>
				<p>
					We firmly believe that a perfect match can transform the care experience. Hence, we take the utmost care in pairing the support worker with the client. We take into consideration shared interests, personality compatibility, and even geographical proximity to ensure seamless and consistent care.  
				</p>
			</li>
			<li class="mb-3 py-2">
				<h3>5. Upholding Cultural And Religious Sensitivity: </h3>
				<p>
					At Living Plus Care Services, we embrace diversity. We offer customised programs that cater to specific religious and cultural needs, ensuring our care is respectful., inclusive, and honours your personal beliefs. 
				</p>
			</li>
			<li class="mb-3 py-2">
				<h3>6. Engaging Activity Program: </h3>
				<p>
					We aspire to enrich Lives beyond the basic care provision. Our dynamic activity program caters to a broad range of interests, fostering social engagement, mental stimulation, and overall wellbeing. 
				</p>
			</li>
			<li class="mb-3 py-2">
				<h3>7. Responsive Support Infrastructure: </h3>
				<p>
					We understand Life's unpredictable nature and that needs may change swiftly. Our robust support infrastructure ensures prompt response to such changes. We also offer regular updates to family members and Local authorities, ensuring all stakeholders in the care process stay informed. 
				</p>
			</li>
			<li class="mb-3 py-2">
				<p class="p-fontWeight">
					Reaching out to us is the first step. Whether through a phone call, email, or an online query, we're always available to Listen. We acknowledge the distinct needs of each individual and are dedicated to providing the necessary guidance customised to your specific situation. 
				</p>
			</li>
		</ol>
	</div>
	
</section>


<section id="our-approach" class="py-3" style="position: relative;">
	<div class="common-overlay"></div>
	<div class="container py-5">
		<h1 class="mb-3" style="color:var(--darkblue-color);"> 
			Our Approach
		</h1>
		<p class="p-fontWeight py-4">
			At Living Plus Care Services, we distinguish ourselves through an unwavering devotion to reliable, consistent care within our Supported Living services. Here's how we maintain this consistency: 
		</p>

		<ul>
			<li class="mb-3 py-2">
				<h3>
					• Committed Support Workers 
				</h3>
				<p>
					We allocate devoted support professionals to our clients. This means the same team or individual regularly assists you, offering a familiar presence and building a robust, supportive rapport over time. 
				</p>
			</li>

			<li class="mb-3 py-2">
				<h3>
					• Tailored Support Plans 
				</h3>
				<p>
					Our support strategies are as distinctive as our clients. We invest time to comprehend your individual needs, preferences, and circumstances, enabling us to provide a service that feels truly personalised and effectively addresses all your needs. 

				</p>
			</li>

			<li class="mb-3 py-2">
				<h3>
					• Periodic Evaluations  
				</h3>
				<p>
					We firmly believe in continual evolution. We routinely evaluate and amend your support plan to ensure it consistently caters to your current needs. Any changes in your health, lifestyle, or preferences are promptly integrated into your care plan. 

				</p>
			</li>

			<li class="mb-3 py-2">
				<h3>
					• In-Depth Support Worker Training 
				</h3>
				<p>
					Every member of our support team undergoes exhaustive, ongoing training. This ensures they are equipped with the required skills and understanding to provide a consistent high standard of support, regardless of the complexity of a client's needs. 
				</p>
			</li>

			<li class="mb-3 py-2">
				<h3>
					• Integrated Care 
				</h3>
				<p>
					We operate in close collaboration with other healthcare and social care providers involved in your care, such as GPs, nurses, and family members. This guarantees a coordinated approach, delivering cohesive and reliable support. 
				</p>
			</li>
			<li class="mb-3 py-2">
				<h3>
					•  Dependable Schedules 
				</h3>
				<p>
					We respect your routine and strive to synchronise our visits to blend smoothly into your daily Life. Our support professionals are timely and dependable, meaning you can always count on us to be there when you need us. 

				</p>
			</li>
			<li class="mb-3 py-2">
				<p class="p-fontWeight">
					At Living Plus Care Services, we are dedicated to ensuring that your experience with us is not merely satisfactory but genuinely Life-enhancing. 

				</p>
			</li>
		</ul>
	</div>
	
</section>

<section id="empowering-individuals" class="py-5">
	<div class="container">
		<h3 class="py-2">
			Empowering individuals: the skills we nurture in 
			supported living
		</h3>
		<p>
			At Living Plus Care Services, we believe in fostering independence and resilience, aiding individuals to acquire new abilities and enhance their existing ones. Here's a look at the array of skills we can help cultivate: 
		</p>

		<div class="py-3 mb-2">
			<h4>Daily Living Tasks</h4>
			<p class="ps-2">
				<b>• Managing Finances: </b> 
				We guide individuals on how to pay bills and effectively handle their money. 
			</p>
			<p class="ps-2">
				<b>• Health Management:</b> 
				We offer support in managing health needs, medication, and appointments. 
			</p>
			<p class="ps-2">
				<b>• Personal Care: </b> 
				We provide assistance with personal hygiene, grooming, and self-care tasks. 
			</p>
			<p class="ps-2">
				<b>• Culinary Skills: </b> 
				Our team can help with meal planning, grocery shopping, and cooking. 

			</p>
		</div>

		<div class="py-3 mb-2">
			<h4>Social and Leisure Activities </h4>
			<p class="ps-2">
				<b>• Pursuing Hobbies: </b> 
				We encourage individuals to engage in their interests and explore new ones. 
			</p>
			<p class="ps-2">
				<b>• Relationships:</b> 
				We aid in maintaining connections with family and friends, and developing new social networks.  
			</p>
			<p class="ps-2">
				<b>• Community Involvement: </b> 
				We promote active participation in local community events and activities.  
			</p>
		</div>

		<div class="py-3 mb-2">
			<h4>Education and Employment  </h4>
			<p class="ps-2">
				<b>• Academic Pursuit: </b> 
				We can assist in finding suitable college courses and educational opportunities. 
			</p>
			<p class="ps-2">
				<b>• Work Opportunities:</b> 
				We can guide individuals in exploring voluntary work, internships, and paid work positions.   
			</p>
		</div>

		<div class="py-3 mb-2">
			<h4>Building and Supporting Relationships </h4>
			<p class="ps-2">
				<b>• Social Connections: </b> 
				We help individuals meet new people and make friends in diverse settings. 
			</p>
			<p class="ps-2">
				<b>• Healthcare Navigation: </b> 		
				We assist with scheduling and attending medical appointments, understanding treatments, and interacting with healthcare professionals.   
			</p>
			<p class="ps-2">
				<b>• Safety Awareness:  </b> 
				
				We teach how to safely interact with strangers and handle unexpected situations. 
 
			</p>
		</div>

		<div class="py-3 mb-2">
			<h4>Independent Living </h4>
			<p class="ps-2">
				<b>• Housing Decisions:  </b> 
				We guide individuals in choosing their living arrangements and understanding tenancy agreements. 
			</p>
			<p class="ps-2">
				<b>• Household Management:  </b> 		
				We provide support in cleaning, maintenance, and being a considerate neighbor.  
			</p>
			<p class="ps-2">
				<b>• Shopping Skills:  </b> 	
				We help individuals learn how to effectively grocery shop, compare prices, and make healthy choices. 
			</p>
			<p class="ps-2">
				<b>• Travel Skills:  </b> 	
				We offer travel training, teaching individuals how to use public transport safely and confidently. 
			</p>
		</div>

		<p class="p-fontWeight py-3 mb-5">
			Empowerment, independence and skill-building are at the core of our Supported Living services at Living Plus Care Services. With us, individuals find the support they need to live fulfilling, enriched Lives. 
		</p>
		<hr>
	</div>
	
</section>

<section class="container p-3 mb-3 " id="benefit-supported">
	<h3 class="p-3 text-center mb-3" style="font-weight: bold;">
		Who Can Benefit From Supported Living?
	</h3>

	<div class="row py-3">
		<div class="col-md-6 p-3 mb-3">
			<div class="py-3 px-4 delivering-excellence">
				<p class="py-3">
					<b style="font-weight:bold;">1. Individuals with Learning Disabilities:</b> 
					Supported living is beneficial for those with Learning disabilities, assisting them to Lead fulfilling, autonomous Lives while still receiving the necessary support. 
				</p>
				<div class="common-overlay delivering-excellence-overlay"></div>

			</div>
		</div>

		<div class="col-md-6 p-3 mb-3">
			<div class="py-3 px-4 delivering-excellence">
				<p class="py-3">
					<b style="font-weight:bold;">2. Autism Spectrum Disorders:</b> 
					Those on the autism spectrum can greatly benefit from supported living, as it helps them maintain routine, develop social skills, and promotes a sense of independence. 
				</p>
				<div class="common-overlay delivering-excellence-overlay"></div>

			</div>
		</div>

		<div class="col-md-6 p-3 mb-3">
			<div class="py-3 px-4 delivering-excellence">
				<p class="py-3">
					<b style="font-weight:bold;">3. Mental Health Conditions:</b> 
					Individuals struggling with mental health conditions can utilise supported Living for a balanced Life, with ongoing support for managing their mental weLlbeing. 
				</p>
				<div class="common-overlay delivering-excellence-overlay"></div>

			</div>
		</div>

		<div class="col-md-6 p-3 mb-3">
			<div class="py-3 px-4 delivering-excellence">
				<p class="py-3">
					<b style="font-weight:bold;">4. Physical Disabilities:</b> 
					Those with physical disabilities can receive necessary assistance while fostering independence in daily tasks, mobility, and social interaction.  
				</p>
				<div class="common-overlay delivering-excellence-overlay"></div>

			</div>
		</div>

		<div class="col-md-6 p-3 mb-3">
			<div class="py-3 px-4 delivering-excellence">
				<p class="py-3">
					<b style="font-weight:bold;">5. Elderly Individuals Needing Support:</b> 
					Elderly individuals wishing to maintain their independence but requiring some Level of support can also opt for supported living services. 
				</p>
				<div class="common-overlay delivering-excellence-overlay"></div>

			</div>
		</div>

		<div class="col-md-6 p-3 mb-3">
			<div class="py-3 px-4 delivering-excellence">
				<p class="py-3">
					<b style="font-weight:bold;">6. Individuals with Long-term Health Conditions:</b> 
					Those with chronic diseases or Long-term health conditions can maintain their health management and independence with the assistance of supported living. 

				</p>
				<div class="common-overlay delivering-excellence-overlay"></div>

			</div>
		</div>

		<div class="col- p-3 mb-3">
			<div class="py-3 px-4 delivering-excellence">
				<p class="py-3">
					<b style="font-weight:bold;">7. Transition from Residential Care or Hospital:</b> 
					If an individual has been in residential. care or hospital. and is now ready to transition to more independent living, supported living can provide the ideal. step-down. 
				</p>
				<div class="common-overlay delivering-excellence-overlay"></div>

			</div>
		</div>
		
		
		

		<p class="mb-3 p-3 text-center">
			Remember, supported living isn't just about the physical needs, it's about the emotional, mental, and social. needs too. Living Plus Care Services is committed to providing tailored care that improves quality of life, fosters independence, and respects the dignity and choices of every individual. 

		</p>
	</div>
</section>

	{% include "main/html-includes/prefer-offline-download.html" %}
{% endblock content %}
