{% extends 'main/base-template.html' %}
{% load static %}

{% block content %}
<section id="supported" style="position:relative;">
	<img class="w-100" src="{% static 'main/images/Image 22.png' %}" style="height:50em">
		<div class="container p-4 text-center" style="position:absolute; top: 50%; left:15%; backgrodund: blue;">
			<div class="p-4 w-50 mx-auto" style="position:relative;  ">
				<div style="">
					<h1 class="mb-3 mb-sm-0 p-2" style="color:white;">
						SUPPORTED LIVING SERVICE
					</h1>
					<p class="pb-3 " id="" style="color:white;">
						Embracing Idependence, Enriching Lives
					</p>
				</div>

				<div style="position:absolute; top:0; left:0; width: 100%; height:100%;background:linear-gradient(to right,var(--darkblue-color),  black);opacity: .6;border-radius:20px;">
					
				</div>
			</div>
		</div>
</section>

<section class="">
	<div class="container">
		<p>
			Welcome to our Supported Living Services at Living Plus Care Services. We firmly believe in promoting and fostering autonomy, self-determination, and personal growth. Through our supported Living services, we aim to enhance the quality of life for individuals who wish to Live independently, yet require assistance with certain aspects of day-to-day life. We provide a unique blend of support, tailored to individual needs and aspirations, ensuring that every individual we serve enjoys an enriched life in the comfort of their own home. 
		</p>
		<p>
			Discover how we are making a difference in people's Lives, enabling them to experience the joy of independent living while receiving the necessary support and care from our dedicated professionals. Join us in this journey towards independence and a fulfilling Life with our supported living services. 
		</p>
	</div>

	<div class="row">
		<div class="col-md-6">
			<img class="w-100" src="{% static 'main/images/Home Page1.png' %}">
		</div>
		<aside class="col-md-6">
			<h3 class="mb-3">What Is Supported Living?</h3>

			<p>
				Supported living is a person-centred approach to providing care that focuses on enabling individuals to Live as independently as possible in their own homes, with tailored support to meet their unique needs and aspirations. 
			</p>
			<p>
				This service is designed for individuals who may require assistance due to disability, age, illness, or other Life circumstances, but who value their independence and wish to maintain it. With supported Living, individuals have the chance to Lead fulfilling Lives within their communities, making their own choices and decisions about how they Live, with a helping hand from skilled care professionals when needed. 
			</p>
		</aside>
	</div>
</section>

<section class="container p-3 mb-3 delivering-excellence">
	<h3 class="p-3 text-center">
		Delivering Excellence In Supported Living
	</h3>
	<p class="p-3 text-center">
		At Living Plus Care Services, we take immense pride in our supported Living services, committed to providing unparalleled care that fosters independence and empowers individuals to Live fulfilling Lives within their communities. Here's what sets us apart: 
	</p>

	<div class="row">
		<div class="col-md-6 p-3 mb-3">
			<h3 cl>Personalised Care Plans </h3>
			<p>
				Our approach begins with the individual. We understand that each person has unique needs, preferences, and aspirations. Therefore, we tailor our care plans to align with each individual's Lifestyle and personal goals. 
			</p>
		</div>
		<div class="col-md-6 p-3 mb-3">
			<h3 cl>Highly Trained Staff </h3>
			<p>
				Our care professionals undergo rigorous training and continuous development programs, ensuring they are well-equipped to provide high-quality care. With a keen understanding of the nuances of supported Living, they are passionate about promoting independence, respect, and dignity. 
			</p>
		</div>
		<div class="col-md-6 p-3 mb-3">
			<h3 cl>24/7 Support </h3>
			<p>
				We provide round-the-clock support to ensure peace of mind for both our clients and their Loved ones. Our dedicated care team is always a call away, ready to assist with any queries or emergencies. 
			</p>
		</div>
		<div class="col-md-6 p-3 mb-3">
			<h3 cl>Inclusive Environment </h3>
			<p>
				We strongly believe in fostering an inclusive environment. Our care professionals encourage individuals to participate in community activities, making sure they feel connected and engaged. 
			</p>
		</div>
		<div class="col- p-3 mb-3">
			<h3 cl>Seamless Communication </h3>
			<p>
				We ensure open and transparent communication with individuals and their families, keeping them informed and involved in the care process. We believe that by working together, we can ensure the best outcomes for those we serve. 
			</p>
		</div>

		<p class="mb-3 p-3 text-center">
			At Living Plus Care Services, we are not just providing care; we are enhancing lives, promoting independence, and nurturing the spirit of community living. 
		</p>
	</div>

	
</section>

<section class="container p-3 mb-3 reson-support">
	<h3 class="p-3 text-center">
		Reasons To Choose Supported Living
	</h3>
	<p class="p-3 text-center">
		Supported Living is an excellent care choice for individuals seeking to retain independence while receiving necessary support in a safe, community-focused environment. Here's why: 
	</p>

	<div class="row">
		<div class="col-md-6 p-3 mb-3">
			<h3>1. Maintain Independence </h3>
			<p>
				Supported Living is all about empowerment. It allows individuals to Lead their own lives, make their own decisions, and partake in the activities they enjoy, with a support network in place when needed. 
			</p>
		</div>
		<div class="col-md-6 p-3 mb-3">
			<h3 cl>2.  Customised Support </h3>
			<p>
				Support is personalised to meet the unique needs of each individual. Whether it's help with daily tasks, medication management, or attending social. events, the leveL of assistance adapts to changing needs over time. 
			</p>
		</div>
		<div class="col-md-6 p-3 mb-3">
			<h3 cl>3.  Community Integration </h3>
			<p>
				Supported Living promotes active participation within the community, encouraging individuals to engage in Local activities and events. This social. inclusion fosters a sense of belonging and improves mental. weLL-being. 
			</p>
		</div>
		<div class="col-md-6 p-3 mb-3">
			<h3 cl>4. Safe Environment </h3>
			<p>
				Living in a supported setting ensures safety and security, with staff available 24/7 for emergencies or just a reassuring presence. This can provide peace of mind for both individuals and their loved ones. 
			</p>
		</div>
		<div class="col-md-6 p-3 mb-3">
			<h3 cl>5. Financial Control </h3>
			<p>
				Individuals in Supported Living often have more control. over their finances, as costs can be more predictable and manageable compared to other care settings. They can budget for their personal expenses while their care needs are taken care of. 
			</p>
		</div>
		<div class="col-md-6 p-3 mb-3">
			<h3 cl>6. Continuity Of Care </h3>
			<p>
				Supported Living offers consistency, with familiar faces providing care and support. This builds trust, enhances the quality of care, and strengthens the bond between individuals and their care team. 
			</p>
		</div>

		<p class="mb-3 p-3 text-center">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		</p>
	</div>

	<hr>
	<section class="py-3 domiciliary-service1">
		<h2 class="mb-3 py-3 w-50 text-center" 
		style="">
			Our Domiciliary Care Services
		</h2> <br>

		<ul class="row gx-5">
			<li class="col-md-6 mb-3">
				<h6><i class="fas fa-egg"></i> Personal Care</h6>
				<p>
					We offer support with personal care tasks such as bathing, dressing, toileting, and grooming. Our caregivers respect your privacy and dignity while ensuring your personal hygiene needs are met.
				</p>
			</li>
			<li class="col-md-6 mb-3">
				<h6><i class="fas fa-egg"></i> Companionship</h6>
				<p>
					Loneliness can be challenging, but our caregivers offer friendly companionship, engaging in conversations, hobbies, or outings, helping to enrich your life with meaningful interactions. 
				</p>
			</li>
			<li class="col-md-6 mb-3">
				<h6><i class="fas fa-egg"></i> Night Care</h6>
				<p>
					We provide overnight care services to ensure your safety and well-being throughout the night. Whether you need assistance with bedtime routines, medication, or reassurance during the night, our caregivers are there for you. 
				</p>
			</li>
			<li class="col-md-6 mb-3">
				<h6><i class="fas fa-egg"></i> Live-In Care</h6>
				<p>		 
					Our live-in care service provides round-the-clock support, ensuring you receive the help you need whenever you need it. This is a perfect solution for those needing continuous care and wish to remain at home. 
				</p>
			</li>
			<li class="col-md-6 mb-3">
				<h6><i class="fas fa-egg"></i> Catheter Care</h6>
				<p>
					Our team is trained in managing and providing care for individuals with catheters, ensuring proper hygiene and monitoring to prevent infections. 
				</p>
			</li>
			
			<li class="col-md-6 mb-3">
				<h6><i class="fas fa-egg"></i> Meal Preparation and Diet Support </h6>
				<p>
					Proper nutrition is essential for health and wellbeing. Our caregivers can assist with meal preparation, following dietary guidelines, and ensuring you enjoy a nutritious diet. 
				</p>
			</li>
			<li class="col-md-6 mb-3">
				<h6><i class="fas fa-egg"></i> Household Tasks</h6>
				<p>
					Keeping your home clean and organised can enhance your quality of life. Our caregivers can help with light housekeeping tasks like laundry, dusting, vacuuming, and more. 
				</p>
			</li>
			<li class="col-md-6 mb-3">
				<h6><i class="fas fa-egg"></i> Stoma Care</h6>
				<p>
					Living with a stoma can be challenging, but our caregivers can help manage your stoma care routine, giving you peace of mind and promoting your independence. 
				</p>
			</li>
			<li class="col-md-6 mb-3">
				<h6><i class="fas fa-egg"></i> Medication Assistance</h6>
				<p>
					We can support with medication administration, ensuring you take the right medicine at the right time, contributing to your overall health and wellbeing. 
				</p>
			</li>

		</ul> <br>

		<p class="">
			At Living Plus Care Services, we believe in delivering care that improves lives, supports independence, and ensures our clients can continue to live at home where they are most comfortable. Our domiciliary care services are more than just help - they are a commitment to enhancing your lifestyle and well-being. To learn more about how we can support you or your loved ones, please contact us today. 
		</p>
	</section>

	<section class="my-3 domiciliary-service3">
			<ul>
				<li>
					<h6>Comfort of Your Own Home</h6>
					<p>
						There's no place Like home. Domiciliary care allows individuals to stay in their familiar and comforting environment. Being surrounded by personal belongings and cherished memories can greatly enhance their sense of well-being and independence. 
					</p>
				</li>
				<li>
					<h6>Personalised Care</h6>
					<p>
						Unlike residential care, domiciliary care offers a highly personalised service, tailored to the unique needs and routines of each individual. This means the care you receive is always designed around your specific requirements, lifestyle, and preferences. 
					</p>
				</li>
				<li>
					<h6>Maintain Independence</h6>
					<p>
						One of the primary goals of domiciliary care is to promote independence. Our caregivers support you with daily tasks and personal care, but also encourage you to do as much as you can for yourself, helping to maintain your independence and self-esteem. 
					</p>
				</li>
				<li>
					<h6>Flexible and Adaptable</h6>
					<p>
						Domiciliary care services can be adapted to evolving needs. Whether you need a few hours of support each week or round-the-clock live-in care, services can be adjusted to ensure you receive the right Level of care at the right time.
					</p>
				</li>
				<li>
					<h6>Companionship and Emotional Support</h6>
					<p>
						Domiciliary care is not just about practical support. Our caregivers also provide companionship and emotional support, helping to combat feelings of loneliness and isolation. 
					</p>
				</li>

				<li>
					<h6>Peace of Mind for Loved Ones</h6>
					<p>
						For family members, knowing that their loved one is receiving professional care in the comfort of their own home can bring immense peace of mind. You can rest assured that your loved one's needs are being met in a caring and respectful manner. 
					</p>
				</li>
				<li>
					<h6>Cost-Effective Solution</h6>
					<p>
						Compared to residential care, domiciliary care can be a more cost-effective solution. You pay for the care you need, which can be adapted and scaled up or down as requirements change.
					</p>
				</li>
				<li>
					<h6>Supports Physical Health</h6>
					<p>
						Besides assisting with personal care and daily tasks, our caregivers can also aid in the administration of medication, nutrition planning, and exercise routines, helping maintain optimal physical health. 
					</p>
				</li>
				<li>
					<h6>Helps with Housekeeping</h6>
					<p>
						Our care providers can assist with light household chores such as cleaning, laundry, and meal preparation, ensuring a clean, organised, and comfortable living environment. 
					</p>
				</li>
				<li>
					<h6>Continuity of Care</h6>
					<p>
						With domiciliary care, a strong relationship is developed between the caregiver and the client. This continuity of care ensures that the caregiver knows the client's needs and preferences intimately, Leading to a higher standard of care. 
					</p>
				</li>
				<li>
					<h6>Retain Local Connections</h6>
					<p>
						Staying at home means maintaining Links with friends, neighbours, and the local community. This social connection plays a vital role in mental and emotional wellbeing. 
					</p>
				</li>
				<li>
					<h6>Pet-Friendly</h6>
					<p>
						Pets often provide significant companionship and emotional support. With domiciliary care, you or your loved ones can continue to live with and care for pets. 
					</p>
				</li>
				<li>
					<h6>Safeguards Family Relationships</h6>
					<p>
						By alleviating the pressure of care, domiciliary care can help maintain healthy and positive family relationships. It enables family members to spend quality time with their Loved ones, instead of solely focusing on caregiving. 

					</p>
				</li>
				<li>
					<h6>Less Disruptive</h6>
					<p>
						For people living with dementia or other cognitive impairments, changing living environments can be highly disruptive and distressing. Domiciliary care minimises this disruption by providing care in the familiar setting of their own home. 
					</p>
				</li>
			</ul>
			<br>
			<p class="p-3 mb p-fontWeight">		
				Choosing domiciliary care with Living Plus Care Services guarantees high-quality care tailored to your specific needs, while also ensuring the preservation of personal freedom and familiarity of home. Feel free to contact us to explore more about our comprehensive domiciliary care offerings. 
			</p>
		</section>

		<section class="my-3 domiciliary-service3">
			<ul>
				<li>
					<h6>Comfort of Your Own Home</h6>
					<p>
						There's no place Like home. Domiciliary care allows individuals to stay in their familiar and comforting environment. Being surrounded by personal belongings and cherished memories can greatly enhance their sense of well-being and independence. 
					</p>
				</li>
				<li>
					<h6>Personalised Care</h6>
					<p>
						Unlike residential care, domiciliary care offers a highly personalised service, tailored to the unique needs and routines of each individual. This means the care you receive is always designed around your specific requirements, lifestyle, and preferences. 
					</p>
				</li>
				<li>
					<h6>Maintain Independence</h6>
					<p>
						One of the primary goals of domiciliary care is to promote independence. Our caregivers support you with daily tasks and personal care, but also encourage you to do as much as you can for yourself, helping to maintain your independence and self-esteem. 
					</p>
				</li>
				<li>
					<h6>Flexible and Adaptable</h6>
					<p>
						Domiciliary care services can be adapted to evolving needs. Whether you need a few hours of support each week or round-the-clock live-in care, services can be adjusted to ensure you receive the right Level of care at the right time.
					</p>
				</li>
				<li>
					<h6>Companionship and Emotional Support</h6>
					<p>
						Domiciliary care is not just about practical support. Our caregivers also provide companionship and emotional support, helping to combat feelings of loneliness and isolation. 
					</p>
				</li>

				<li>
					<h6>Peace of Mind for Loved Ones</h6>
					<p>
						For family members, knowing that their loved one is receiving professional care in the comfort of their own home can bring immense peace of mind. You can rest assured that your loved one's needs are being met in a caring and respectful manner. 
					</p>
				</li>
				<li>
					<h6>Cost-Effective Solution</h6>
					<p>
						Compared to residential care, domiciliary care can be a more cost-effective solution. You pay for the care you need, which can be adapted and scaled up or down as requirements change.
					</p>
				</li>
				<li>
					<h6>Supports Physical Health</h6>
					<p>
						Besides assisting with personal care and daily tasks, our caregivers can also aid in the administration of medication, nutrition planning, and exercise routines, helping maintain optimal physical health. 
					</p>
				</li>
				<li>
					<h6>Helps with Housekeeping</h6>
					<p>
						Our care providers can assist with light household chores such as cleaning, laundry, and meal preparation, ensuring a clean, organised, and comfortable living environment. 
					</p>
				</li>
				<li>
					<h6>Continuity of Care</h6>
					<p>
						With domiciliary care, a strong relationship is developed between the caregiver and the client. This continuity of care ensures that the caregiver knows the client's needs and preferences intimately, Leading to a higher standard of care. 
					</p>
				</li>
				<li>
					<h6>Retain Local Connections</h6>
					<p>
						Staying at home means maintaining Links with friends, neighbours, and the local community. This social connection plays a vital role in mental and emotional wellbeing. 
					</p>
				</li>
				<li>
					<h6>Pet-Friendly</h6>
					<p>
						Pets often provide significant companionship and emotional support. With domiciliary care, you or your loved ones can continue to live with and care for pets. 
					</p>
				</li>
				<li>
					<h6>Safeguards Family Relationships</h6>
					<p>
						By alleviating the pressure of care, domiciliary care can help maintain healthy and positive family relationships. It enables family members to spend quality time with their Loved ones, instead of solely focusing on caregiving. 

					</p>
				</li>
				<li>
					<h6>Less Disruptive</h6>
					<p>
						For people living with dementia or other cognitive impairments, changing living environments can be highly disruptive and distressing. Domiciliary care minimises this disruption by providing care in the familiar setting of their own home. 
					</p>
				</li>
			</ul>
			<br>
			<p class="p-3 mb p-fontWeight">		
				Choosing domiciliary care with Living Plus Care Services guarantees high-quality care tailored to your specific needs, while also ensuring the preservation of personal freedom and familiarity of home. Feel free to contact us to explore more about our comprehensive domiciliary care offerings. 
			</p>
		</section>

		<section>
			<h2 class="text-center">Empowering individuals</h2>
		</section>


	
</section>



<div class="p-5 text-center" style="position: relative;">
	<h1 class="mb-0" style="color:var(--darkblue-color); font-weight: bold;">
		DO YOU PREFER OFFLINE READING?
	</h1>
	<p class="mb-5 p-fontWeight" style="font-size: 20px;">
		Download a PDF version of our Domicialiary Care Package
	</p>

	<a href="#download" class="btn px-5 py-2" style="border: 2px var(--darkblue-color) solid; color: var(--darkblue-color); font-weight: 600; font-size: 20px;">Download PDF</a>

	<div style="position:absolute; top:0; left: 0; width:100%; height:100%;background: var(--card-bg-color); opacity:.25225;z-index: -1;"></div>
</div>
{% endblock content %}
