{% extends 'main/base-template.html' %}
{% load static %}

{% block content %}
	<div class="about-banner">
		<img src="{% static 'main/images/who-are-we 1.png' %}" class="w-100">
		<div class="about-overlay"></div>
	</div>
	<section id="who-are-we">
		<div class="container-fluid">
			<div class="who-content px-3 pb-3 pt-0 mb-3 w-75 mx-auto tddext-center">
				<h2 class="p-4 mb-0 text-center w-75 mx-auto">
					WHO WE ARE
				</h2>
				<p class="mb-3">
					Living Plus Care Services is a specialised provider of Domiciliary Care, Temporary Staffing, and Supported Living services. As a unified community, our passion for exceptional care fuels our commitment to deliver unparalleled services right at your home. 
				</p>
				<p class="mb-3">
					Our strength lies in our profound understanding of local traditions and a deep-rooted connection with the communities we serve in Hertfordshire & Cambridgeshire. We believe that care is most effective when it feels familiar, personalised, and respectful. of one's lifestyle and environment. Therefore, we make it our mission to transform lives, one care plan at a time, by leveraging our local expertise. 

				</p>
				<p class="mb-3">
					We provide a comprehensive array of healthcare solutions to a wide clientele, including hospitals, care homes, private clients, and those referred by social services. Our ability to supply a variety of healthcare professionals to meet diverse needs sets us apart.  
				</p>
				<p class="mb-3">
					We are more than just a care provider. We are a trusted partner in your health journey, offering personal. care and support for you or your loved one, when and where you need it most. Experience the Living Plus Care Services difference as we strive to provide comfort, commitment, and community-centred care, right at home. 
				</p>
				
			</div>


			<div class="w-50 mx-auto card p-3">
				<p class="p-5">
					"We are a flourishing community, united by our passion for delivering exceptional care within the comfort of your home. Drawing on local knowledge and fuelled by community spirit, we are transforming lives, one care plan at a time." 
				</p>
			</div>
		</div>
	</section>

	{% include "main/html-includes/start-conversation.html" %}

{% endblock content %}
